[global]
host=10.253.22.27
user=r_user
password=r_2017_test
data_hub=/home/r_user/DXD/ETL/HUB
#data_hub=C:\Users\lenovo\PycharmProjects\DXD\ETL\HUB
#data_hub=C:\Users\Robin Xiong\PycharmProjects\DXD\ETL\HUB
#tableList=C:\Users\Robin Xiong\PycharmProjects\DXD\ETL\table.list
#logLevel=DEBUG
runMode=t+3
charset=utf-8

[source]
#host=rm-bp1a224o5dj0p5g1e.mysql.rds.aliyuncs.com
host=192.168.1.105
#host=10.91.24.174
port=3306
user=fengkong
passwd=ngueqD3qd8B
db=bi_sdxd
charset=utf8

[target]
#host=rm-bp1a224o5dj0p5g1e.mysql.rds.aliyuncs.com
host=192.168.1.105
port=3306
user=fengkong
passwd=ngueqD3qd8B
db=bi_test
charset=utf8

[email]
host=smtp.live.com
user=dataload_log@hotmail.com
passwd=2wsx#EDC
from=dataload_log@hotmail.com
to=dataload_log@hotmail.com
#cc=

# python /home/r_user/DXD/ETL/bi_sdxd_etl_workflow_handler.py -t t_apply_admittance -a load -d 20170503

